/* Resetando as configurações */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

strong {
    font: 900 18px Roboto;
}

/* Header */

header .container {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Menu Hamburguer */

.menu {
    align-items: center;
}

.hamburguer {
    width: 28px;
    height: 3px;
    position: relative;
    background-color: blue;
}

.hamburguer::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: blue;
}

.hamburguer::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: blue;
}

/* Título do header */

.title {
    color: blue;
}

/* Icone de busca */

.search {
     color: blue;
}

.material-icons {
    font-size: 36px;
}

/* Conteúdo principal */

main img {
    width: 100%;
}

.candidate-profile {
    padding: 30px 70px;
    background-color: white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    position: relative;
    bottom: 40px;
}

.candidate-profile header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.candidate-profile header .candidate-name strong { 
    display: block;
}

.candidate-profile header .candidate-name span { 
    display: block;
    margin-top: 5px;
}

.candidate-profile header .candidate-number {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    line-height: 80px;
    text-align: center;
    vertical-align: middle;
    background-color: blue;
}

.candidate-profile header .candidate-number strong {
    color: white;
}

.candidate-description p {
    color: gray;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 30px;
}

.candidate-infos {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.frame {
    border: 2px solid lightgray;
    padding: 5px;
    border-radius: 5px;
}

.birthday,
.civil-state,
.graduation,
.profession {
    background-color: lightgray;
    padding: 30px 20px;
    border-radius: 5px;
    text-align: center;
}

.info-icon,
.info-text {
    color: #333333;
}

.candidate-situation {
    display: flex;
}

.update,
.status {
    width: 50%;
    padding: 20px;
}

.update {
    background-color: gray;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.status {
    background-color: green;
    color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
}

.history-proposal {
    display: flex;
    color: white;
}

.candidate-history,
.candidate-proposal {
    width: 50%;
    text-align: center;
    padding: 20px;
}

.candidate-history {
    background-color: navy;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.candidate-proposal {
    background-color: blue;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.candidate-history:hover,
.candidate-proposal:hover {
    cursor: pointer;
    box-shadow: 7px 5px 22px -3px rgba(35,28,230,1);
}

footer {
    background-color: blue;
    color: white;
    text-align: center;
    padding: 20px;
}
